In [ ]:
print('HELLO WROLD')

HELLO WROLD

In [ ]:
a=1
b=c=a
print(a,b,c)

1 1 1

In [ ]:
a=1
b=a
a=2
print(a,b)

2 1

In [ ]:
print('Vicky is my name')

Vicky is my name

In [ ]:
a="""i need to go hd iofaiaob dfoyvbaiurfhihpeuwiscbn aivbabfipfuhnpunbvpiubiygfihiephfipvnbipfbviupbfipbipb
aofijoafbvifbcvfodvnoaphfhwiushibvbvknlnvnsodvoidjosihbvifbibadvknkjnvnlsmlfoijsoidfjioehfdvnvknjnslanvklsdklnvninuvsooavfo ofndv
ofnodnvoniunuirhpofeowsdnvnlnfoihojewjpfpkasl;m;lmlkmckldsjofijohwfuhewifibivbfkjnkjnfknsdnfknefnskdnfksndjkfbeuiwfnlknlknvlkmlkmllndlaf
lfnonflksdfklnskdfuehoisdjfmSfmlkndls;fnaph oijfslflkmmf;sjfoewhfunnsdfln;lanfpuebwnkfmlk;snfsahfohiwaesnf;sfma;lfm;lnaihf;oaweonfklmdf;m
ifna;onfsknlf;knnfnsknflk;ans;lfnl;snf;nsfnlsanf;lsn;flna;snfsdnkfnd"""
print(a)

i need to go hd iofaiaob dfoyvbaiurfhihpeuwiscbn aivbabfipfuhnpunbvpiubiygfihiephfipvnbipfbviupbfipbipb
aofijoafbvifbcvfodvnoaphfhwiushibvbvknlnvnsodvoidjosihbvifbibadvknkjnvnlsmlfoijsoidfjioehfdvnvknjnslanvklsdklnvninuvsooavfo ofndv
ofnodnvoniunuirhpofeowsdnvnlnfoihojewjpfpkasl;m;lmlkmckldsjofijohwfuhewifibivbfkjnkjnfknsdnfknefnskdnfksndjkfbeuiwfnlknlknvlkmlkmllndlaf
lfnonflksdfklnskdfuehoisdjfmSfmlkndls;fnaph oijfslflkmmf;sjfoewhfunnsdfln;lanfpuebwnkfmlk;snfsahfohiwaesnf;sfma;lfm;lnaihf;oaweonfklmdf;m
ifna;onfsknlf;knnfnsknflk;ans;lfnl;snf;nsfnlsanf;lsn;flna;snfsdnkfnd

In [ ]:
 a = "0123456789abcdef"
print(a[0])
print(a[3])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[8])
print(a[5:-3])
print(a[5:10:2])
print(a[10])
print(a[0:2])
print(a[5:-3])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
8
56789abc
579
a
01
56789abc

In [ ]:
a="HELLO WOLRD"
print(len(a))

11

In [ ]:
 a = 'hello world, I am oxxo, how are you?'
 b=a.split(",")
 c=a.split(" ")
 d=a.split()
 print(b)
 print(c)
 print(d)

['hello world', ' I am oxxo', ' how are you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']

In [ ]:
t = ('apple','banana','orange','grap')
a,b,c,d=t
print(a,b,c,d)
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple banana orange grap
apple
banana
orange
grap

In [ ]:
 t1 = ('apple','banana','orange')
 t2 = ('grap','pineapple')
 t=t1+t2
 print(t)

('apple', 'banana', 'orange', 'grap', 'pineapple')

In [ ]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [ ]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')
print(a,b,c,d)

set() {1, 2, 3, 4, 5} {'x', 'z', 'y'} {'h', 'l', 'e', 'o'}

In [ ]:
a=2
b=3
if a>b:
  print("HELLO WORLD")
else:
  print("OK")

OK

In [ ]:
a=2
b=3
if(a<b):
  print('a<b')
  if a==1:
    print('a=1')
  if a==2:
    print('a=2')
  if a==3:
    print('a=3')
elif(a>b):
  print('a>b')
else:
  print('a=b')
print('OK')

a<b
a=2
OK

In [ ]:
 a = 2
 b = 3
 c = 0
if a>b or a<c and a==2 or b==4:
  print('OK1')
else:
  print('XXX')

XXX

In [ ]:
for i in 'abc':
  print(i)

a
b
c

In [59]:
for i in ["x",'y','z']:
  for b in [1,2,3]:
    print(b)
print(i)

1
2
3
1
2
3
1
2
3
z

In [57]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')
  print(a)

x1
x2
x3
x
y1
y2
y3
y
z1
z2
z3
z

In [53]:
i=[]
for t in range(10):
  t=t+1
  i.append(t)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
try:
  a = input('輸入數字:')
  print(a+1)
except:
  pass
print('HELLO')

輸入數字:5
HELLO

In [61]:
a=[]
for i in range(1,10):
  a.append(i*i)
print(a)
b = [j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]